
.sidebar a{ 
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

/* Botones del menú */
.menu-btn {
    background-color:  #b5f7cd;
    color: black;
    font-weight: bold;
    padding: 10px 0px;
    border-radius: 20px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 10px;
    margin-bottom: 10px;
}
.S {
    background-color:  #b5f7cd;
    padding: 10px 0px;
    border-radius: 20px;
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.menu-btn:hover {
    background-color: #4BAA6E;
    color: white;
}

/* Botón desplegable */
.dropdown-btn {
    position: relative;
}

/* Submenú */
.dropdown-content {
    display: none;
    flex-direction: column;
    background-color: white;
    margin: 10px 0px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
}

.submenu-btn {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 4px;
    transition: background-color 0.3s;
}
.dropdown-content:hover{ 
    background-color: white;
    border: 2px solid #4BAA6E;
    color: black;
}

.submenu-btn:hover {
    background-color: white;
    color: black;
}

/* Mostrar el submenú cuando se activa */
.show {
    display: flex;
}
