/*css catalogo */

/*Hasta aquí el header*/
main{ 
    grid-area: main; 
    display: grid;
    grid-template-columns: repeat(2, 25% 75%);
    background-color:  white;
}

main .productos {
   text-align: center;
    margin: 30px auto;
    padding: 50px auto;
  
} 

/* Media Queries */
@media (max-width: 1280px) {
    main {
        grid-template-columns: repeat(2, 30% 70%);
    } 
    .product-card {
        width: 250px;
    }
    .product-image {
        width: 250px;
        height: 150px;
    }
}

@media (max-width: 890px) {
    main {
        display: flex;
        flex-direction: column;
    }
    .product-card {
        width: 200px;
    }
    .product-image {
        width: 200px;
        height: 120px;
    }
    .descripcion .nombre-p {
        font-size: 20px;
    }
    .descripcion .precio-p {
        font-size: 18px;
    }
    .view-button {
        font-size: 16px;
        margin-left: 0;
    }
}

@media (max-width: 570px) {
    .product-card {
        width: 100%;
    }
    .product-image {
        width: 100%;
        height: auto;
    }
    .descripcion .nombre-p, .descripcion .precio-p {
        font-size: 16px;
    }
    .view-button {
        font-size: 14px;
        padding: 5px 20px;
    }
}

@media (max-width: 360px) {
    .descripcion .nombre-p, .descripcion .precio-p {
        font-size: 14px;
    }
    .view-button {
        font-size: 12px;
        padding: 5px 10px;
    }
}



/* Estilo general para el cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
}

/* Contenedor de productos */
#listaProductos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

/* Estilo de cada tarjeta del producto */
.producto {
    background-color: #fff;
    border: 3px solid #4BAA6E;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

/* Efecto de hover en la tarjeta */
.producto:hover {
    transform: scale(1.05);
}

/* Estilo de la imagen en la tarjeta */
.producto img {
    width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: contain;
}

/* Títulos y texto dentro de la tarjeta */
.producto h5 {
    margin: 10px;
    font-size: 1.2em;
    color: #333;
}

.producto p {
    margin: 10px;
    color: #666;
}

/* Estilo para enlaces */
.producto a {
    text-decoration: none;
}

/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 600px) {
    #listaProductos {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    #listaProductos {
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en pantallas medianas */
    }
}

@media (min-width: 901px) {
    #listaProductos {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas grandes */
    }
}