.contenedor{ 
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
/*-------------*/
.texto{
    width: 800px;
    padding: 0px 155px;
}
.Titulo{ 
    margin-top: 25px;
    margin-left: -130px;
    width: 95%;
    max-width: 1200px;
}
.box{
    margin-left: -145px;
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    max-width: 1200px;
}

.caja{
    border: 1px solid #4BAA6E;
    width: 745px;
    padding: 10px 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,70% 30%);
}

.hr{
    width: 55%;
    color: #4BAA6E;
}
.info, .boton{
    height: 200px ;
}
.boton img{
    padding-bottom: 20px;
    width: 100px;

}
.boton {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.btnD {
    border-radius: 60px;
    padding: 5px 40px;
    background-color: #4baa6e;
    color: white;
    font-size: 15px;
    border: black solid 2px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btnD a {
    text-decoration: none;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.btnD:hover {
    background-color: white;
    border: 3px solid #b5f7cd;
    color: black;
}

.btnD:hover a {
    color: black;
}


/*-------- RESPONSIVE DESIGN ----------*/

@media (max-width: 1280px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px;
    }
    .texto { 
        width: 720px;
    }
    .Titulo {
        margin-top: 0px;
        margin-left: -158px;
        width: 720px;
    }
    .box {
        margin-left: -158px;
        padding: 0px 0px;
        width: 720px;
        max-width: 1000px;
    }
    .caja {
        width: 720px;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
    }
    hr {
        width: 60%; 
    }
    .info{
        width: 540px;
    }
    .boton{
        width: 180px;
    }   
}

@media (max-width: 992px) {
    main {
        margin: 0 auto; /* Centra el contenido */
    }
    .contenedor {
        width: 90%;
    }
    .texto {
        padding: 5px;
        width: 750px;        
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px;
    }
    .texto { 
        width: 720px;
    }
    .Titulo {
        
        margin-top: -5px;
        margin-left: -5px;
        width: 720px;
    }
    .box {
        margin-left: -5px;
        padding: 0px 0px;
        width: 720px;
        max-width: 1000px;
    }
    .caja {
        width: 720px;
        display: flex;
        flex-direction: row;
        padding: 10px 10px;
    }
    hr {
        width: 60%; 
    }
    .info{
        width: 540px;
    }
    .boton{
        width: 180px;
    } 
    hr {
        width: 70%; 
    }
    
}

@media (max-width: 769px) {
    main {
        grid-template-columns: 1fr;
    }
    .contenedor {
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
    .texto {
        width: 600px;
    }
    .Titulo {
        margin-top: -5px;
        margin-left: -5px;
        width: 600px;
    }
    .box {
        margin-left: -5px;
        padding: 0px 0px;
        width: 600px;
        max-width: 1000px;
    }
    .caja {
        width: 600px;
        display: flex;
        flex-direction: row;
        padding: 0px 0px;
    }
    hr {
        width: 60%; 
    }
    .info{
        width: 400px;
    }
    .boton{
        width: 200px;
    } 
    .hr {
        width: 85%;
    }
    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 429px) {
    .contenedor {
        width: 80%;
        display: grid;
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 8px;
    }
    .texto { 
        width: 380px;
        padding: 0px 0px;
    }
    .Titulo {
        font-size: 16px;
        margin-top: 10px;
        padding: 0px 7px;
    }
    .box {
        width: 380px;
        padding: 0px 5px;
        border-radius: 4px;
    }
    .caja {      
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 375px;
    }
    .info{
        font-size: 20px;
        width: 375px;
        height: 150px;
    }
    .boton{
        width: 375px;
        height: 180px;
    }
    .boton img{
        width: 90px;
    }
    .info h3{
        font-size: 22px;
    }
    .hr {
        width: 100%;
    }
}
@media (max-width: 394px) {
    .contenedor {
        width: 80%;
        display: grid;
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 8px;
    }
    .texto { 
        width: 380px;
        padding: 0px 0px;
    }
    .Titulo {
        font-size: 16px;
        margin-top: 10px;
        padding: 0px 7px;
    }
    .box {
        width: 380px;
        padding: 0px 5px;
        border-radius: 4px;
    }
    .caja {      
        display: flex;
        flex-direction: column;
        padding:10px 10px;
        width: 375px;
    }
    .info{
        font-size: 20px;
        width: 375px;
        height: 150px;
    }
    .boton{
        width: 375px;
        height: 180px;
    }
    .boton img{
        width: 90px;
    }
    .info h3{
        font-size: 25px;
    }
    .hr {
        width: 100%;
    }
}
@media (max-width: 362px) {
    .contenedor {
        display: grid;
        
        width: 100%;
    }
    .Titulo {
        font-size: 14px;
        margin-top: 5px;        
    }
    .box {
        padding: 0px;
        margin: 0px -10px;
        width: 378px;
    }
    hr {
        width: 100%;
    }
    .caja {
        display: flex;
        flex-direction: column;
        width: 378px;
    }
    
    .boton {
        margin-top: 0%;
        text-align: center;
    }
    .boton button {
        font-size: 10px;
        padding: 5px 10px;
        margin: 0%;
    }
}