/*Hasta aquí el header*/
main{ 
    margin: 10px 10px;
}
.contenedor{ 
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 30px 0px;
    margin-bottom: 96px;
    border: 2px solid black;
}

.texto .Titulo{ 
    padding-left: 12px;
    padding-top: 4px;
    width: 400px;
    border: 2px solid black;
}
.box{
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    max-width: 1200px;
    display: grid;
    grid-gap: 20px;
    border: 2px solid black;
}
.caja{
    
    border: 1px solid #4BAA6E;
    width: 140%;
    padding: 10px 10px;
    border-radius: 5px;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2,70% 30%);
}
.hr{
    width: 55%;
    color: #4BAA6E;
}
.boton{
    margin-top: 40%;
    margin-left: 10%;
}
.boton button{
    border-radius: 50px;
    padding: 5px 40px ;
    background-color: #4baa6e;
    color: white;
    font-size: 20px;
}
/*-------- RESPONSIVE DESIGN ----------*/

@media (max-width: 1280px) {
    main {
        grid-template-columns: 1fr;
    }
    .contenedor {
        width: 75%;
        display: grid;
    }
    .texto {
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 93%;
        margin-left:330px;
    }
    .texto .Titulo {
        padding-left: 10px;
        width: 300px;
    }
    .box {
        width: 100%;
        max-width: 1000px;
        grid-gap: 15px;
    }
    .caja {
        grid-template-columns: repeat(2, 60% 40%);
    }
    .hr {
        width: 70%;
    }
    .boton {
        margin-top: 40%;
    }
    .boton button {
        font-size: 18px;
        width: 150px;
        padding: 5px;
        margin-bottom: 0%;
    }
    
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    main {
        margin: 0 auto;
    }
    .contenedor {
        width: 90%;
        display: grid;
        
    }
    .texto {
        align-content: center;
        justify-content: center;
        justify-items: center;
        margin-left: 20px;
        width: 65%;
    }
    .texto .Titulo {
        width: 250px;
        font-size: 18px;
    }
    .box {
        padding: 10px;
        width: 95%;
    }
    .caja {
        width: 620px;
    }
    .hr {
        width: 60%;
    }
    .boton {
        margin-top: 40%;
    }
    .boton button {
        font-size: 18px;
        width: 150px;
        padding: 5px;
        margin-bottom: 0%;
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }
    .contenedor {
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
    .texto {
        align-content: center;
        justify-content: center;
        justify-items: center;
        margin-left: 20px;
        width: 65%;
    }
    .texto .Titulo {
        width: 250px;
        font-size: 16px;
    }
    .box {
        max-width: 800px;
        grid-gap: 10px;
    }
    .caja {
        width: 600px;
    }
    .hr {
        width: 85%;
    }
    .boton {
        margin-top: 40%;
    }
    .boton button {
        font-size: 14px;
        width: 120px;
        padding: 5px;
        margin: 0%;
    }
    
    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 429px) {
    .contenedor {
        display: grid;
        padding: 0;
    }
    .texto {
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 67%;
        padding: 5px;
        padding-left: 0px;
        margin-left: 0px;
        
    }
    .texto .Titulo {
        font-size: 12px;
        width: 100%;
    }
  
    .box {
        width: 100%;
        grid-gap: 5px;
        padding: 5px;
    }
    .caja {
        width: 405px;
    }
    .hr {
        width: 100%;
    }
    .boton {
        margin-top: 60%;
        text-align: center;
    }
    .boton button {
        font-size: 10px;
        padding: 5px 10px;
        margin: 0%;
    }
}

@media (max-width: 360px) {
    .contenedor {
        display: grid;
        margin: 0 auto;
        padding-left: 190px;
    }
    .texto {
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 95%;
        padding: 5px;
        padding-left: 0px;
    }
    .texto .Titulo {
        font-size: 12px;
        width: 100%;
    }
  
    .box {
        grid-gap: 5px;
        padding: 5px;
    }
    .caja {
        width: 395px;
    }
    .hr {
        width: 100%;
    }
    .boton {
        margin-top: 60%;
        text-align: center;
    }
    .boton button {
        font-size: 10px;
        padding: 5px 10px;
        margin: 0%;
    }
}