/*Hasta aquí el header*/
main {
    padding: 10px 10px;
}
.contenedor {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 30px 0px;
    margin-bottom: 96px;
} 
.productos {
    padding: 0px;
    width: 890px;
}
section {
    width: 91%;
    margin-left: 3.3%;
    margin-top: 0px;
}

.editarP, .editarC {
    border-radius: 5px;
    padding: 15px;
}
.editarP h4{   
    width: 100%;
}
.editarC h4 {
    width: 54%;
}
.editarP h4, .editarC h4 {
    background-color: #B5F7CD;
    margin-bottom: 15px;
    padding: 10px 20px;
    height: 56px;
    font-size:24px;
    margin-bottom: 0;
}

.info {
    border: 2px solid #B5F7CD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}
.labels, .infoC {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#editar{
    margin-left: 265px;
    padding: 5px 70px;
    margin: 0 164px;
    grid-gap: 15px;
}
#btn{
    padding: 5px 10px;
    width: 186px;  
}
.botones {
    width: 54%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    padding-top: 10px;
}

.botones button {
    border-radius: 50px;
    background-color: #4baa6e;
    color: white;
    font-size: 15px;
}

.botones button:hover {
    background-color: white;
    border: 3px solid #b5f7cd;
    color: black;
}



/*
Añadir en las paginas de esta rama: para el color del menu
*/
:root {
    --teal-500: #7df1a7; /* Color para teal-500 */
}

@media (max-width: 768px) {
    .sidebar {
        display: none; /* Oculta la barra lateral por defecto */
        position: fixed; /* Mantiene la barra fija en la pantalla */
        top: 0;
        left: 0;
        height: 100vh; /* Ocupa toda la altura visible */
        width: 250px;
        background-color: #f8f9fa;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
        z-index: 1000;
        padding: 20px;
        overflow-y: auto; /* Permite el scroll si el contenido excede */
    }

    .sidebar.show {
        display: block; /* Muestra la barra lateral cuando tiene la clase "show" */
    }

    .contenedor {
        flex-direction: column;
        align-items: stretch;
    }

    .toggle-sidebar {
        margin-bottom: 15px;
    }
}
