main {
    padding: 10px 10px;
}
.texto{
    padding: 0px 350px 0px 15px ;
}
.formulario2{
    margin-bottom: 20px;
    border: 1px solid #4BAA6E;
    border-radius: 5px;
    padding: 20px 20px;
    margin-left: 42%;
    width: 50%;
    text-align: justify;
    margin-top: 30px;
}
.info{
    gap: 5%;
    display: grid;
    grid-template-columns: 15% 95%;
    padding-bottom: 5%;
    padding-left: 2%;
}
.botones {
    margin: 0 auto;
    padding-top: 0px;
    margin-right: 80px;
}
.botones button {
    border-radius: 50px;
    padding: 5px 70px;
    background-color: #4baa6e;
    color: white;
    font-size: 15px;
}

.botones button:hover {
    background-color: white;
    border: 3px solid #b5f7cd;
    color: black;
}
.msj input{
    margin-bottom: 5%;
    border: black solid 1px ;
    border-radius: 20px;
}
.msj .y{
    width: 85%;
}
.msj textarea{
    height: 40%;
    border: black solid 1px ;
    border-radius: 20px;
    margin-bottom: 80px;
}
.caja.aceptar {
    width: 212px;
    margin-left: 110px;
    align-items: end;
}

.caja.aceptar label {
    margin-left: 10px;
    font-size: 13px;
}

.hr{
    width: 40%;
    border: 1px solid #4BAA6E;  
}
hr{
    margin: 0 auto;
    width: 50%;
}
.informacion {
    padding-top: 20px;
    display: grid;
    margin-left: 410px;
    width: 49%;
}
.contacto1,.contacto2{
    display: flex;
    font-size: 14px;
    color: #333;
}
.contacto1 p, .contacto2 p{
    text-align: center;
    width: 52%;
}
#boton {
    padding-left: 110px;
    margin:0px;
    margin-bottom: 20px;
}
#redes{
    width: 250px;
}
@media (max-width: 1280px) {
    .texto {
        margin-right: 190px;
        padding: 0 100px;
    }
    .formulario2 {
        margin-left: 30%;
        width: 65%;
    }
    .informacion {
        margin-left: 250px;
        width: 60%;
    }
}

@media (max-width: 992px) {
    .texto {
        padding: 0 50px;
    }
    .formulario2 {
        font-size: 14px;
        margin-left: 40%;
        width: 70%;
    }
    .caja.aceptar {
        margin: 0 75px;
        margin-top: -40px;
        height: 30px;        
    }
    .botones {
        width: 147px;
        margin-left: 35px;
    }
    .informacion {
        margin-left: 80px;
        width: 80%;
    }
    .botones button {
        padding: 5px 50px;
    }
}

@media (max-width: 768px) {
    .texto {
        padding: 0 30px;
    }
    .formulario2 {
        margin-left: 30%;
        width: 80%;
    }
    .info {
        padding-left: 0;
    }
    .info .p {
        text-align: left;
    }
    .info .msj {
        text-align: left;
    }
    .caja.aceptar {
        margin-left: 75px;
    }
    .informacion {
        margin-left: 20px;
        width: 90%;
    }
}
@media (max-width: 576px) {
    main {
        width: 100%;
        border: 6px solid black;
    }
    .formulario2 {
        margin-left: 0; /* Quita el margen izquierdo fijo */
        margin-right: 0; /* Asegura que esté centrado */
        width: 220%; /* Ocupa el 90% del ancho */
    }

    .info {
        font-size: 11px;
        gap: 15px;
    }

    .msj .y {
        width: 84%; 
    }
    .botones{
        width: 59%; 
        margin-left: 10px;
        
    }
    .caja.aceptar {
        margin-left:130%;
        padding-top: 10px;
    }
    .informacion {
        margin-left: 0;
        width: 100%; 
    }

    #boton{
        padding-left: 0;
    }
    #redes{
        width: 100%;
    }
    .contacto1, 
    .contacto2{
        width:100%;
        flex-direction: column;
        align-items: center;
        font-size: 12px; /* Ajusta el tamaño de la fuente */
    }
}
/* Estilo adicional para dispositivos menores a 360px */
@media (max-width: 391px) {
    main {
        width: 100%;
        border: 6px solid black;
    }
    .formulario2 {
        margin-left: 0; /* Quita el margen izquierdo fijo */
        margin-right: 0; /* Asegura que esté centrado */
        width: 290%; /* Ocupa el 90% del ancho */
    }

    .info {
        font-size: 11px;
        gap: 15px;
    }

    .msj .y {
        width: 84%; 
    }
    .botones{
        width: 59%; 
        margin-left: 10px;
        
    }
    .caja.aceptar {
        margin-left:130%;
        padding-top: 10px;
    }
    .informacion {
        margin-left: 0;
        width: 100%; 
    }

    #boton{
        padding-left: 0;
    }
    #redes{
        width: 110%;
    }
    .contacto1, 
    .contacto2{
        width:100%;
        flex-direction: column;
        align-items: center;
        font-size: 12px; /* Ajusta el tamaño de la fuente */
    }
}

