.header {
    background-color: #7df1a7;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
}

.he1 {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.caja-busqueda {
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 700px) {
    .he1 {
        grid-template-columns: auto auto;
    }
    .caja-busqueda {
        display: none;
    }
}
@media (max-width: 560px) {
    .he1 {
        justify-content: space-between;
    }
}
.barra-busqueda {
    border: 2px solid #54c37d;
    width: 100%;
    max-width: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    overflow: hidden;
}
.barra-busqueda .icono {
    text-align: center;
    width: 30px;
}
.barra-busqueda input {
    flex: 1;
    border: none;
    font-size: 16px;
    padding: 6px 18px;
}
.he1 .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.he1 .logo-img {
    height: 70px;
}
@media (max-width: 560px) {
    .he1 .logo .logo-text {
        display: none;
    }
}

.logo-text {
    font-size: 40px;
    font-style: italic;
    color: black;
    font-weight: bold;
}
.busqueda{ 
    padding: 0px 100px;
}

.icons {
    display: flex;
    gap: 15px;
    
}

.icon img {
    height: 35px; 
    width: 35px;
    margin-right: 20px;
}
.icon .carrito{ 
    height: 39px; 
    width: 39px;
}
.icon .perfil{ 
    height: 38px; 
    width: 38px;
}
.dropdown{ 
    background-color: #b5f7cd;
    padding: 15px 200px;
    display: flex;
    justify-content: space-around;
}
.dropdown .btn{ 
    background-color: white;
    color: black;
    padding: 0px 25px;
    font-size: 25px;
    border: 30px;
    padding-inline: 14px;
}
.dropdown .dropdown-menu a{ 
    font-size: 25px;
}
.dropdown .dropdown-menu a:hover{ 
    background-color: #7df1a7 ;
}