.contenedor{ 
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
/*-------------*/
.texto{
    width: 800px;
    padding: 0px 13px ;
}

.texto .Titulo {
    padding-left: 12px;
    padding-top: 25px;
}

.box {
    border-radius: 5px;
    padding: 15px;
    width: 87%;
    text-align: justify;
    max-width: 1200px;
    margin: 0px 0;
    display: grid;
    grid-gap: 20px;
}

.caja {
    border: 1px solid #4BAA6E;
    border-radius: 5px;
    width: 745px;
    padding: 10px 10px;
}
.caja div{
    width: 745px;
    height: 110px;
    display: flex;
    flex-direction: row;
}
.caja div p{
    width: 500px;
    height: 110px;
    padding: 40px 10px;
}
.caja div a img{
    display: flex;
    width: 170px;

}
/*-------- RESPONSIVE ----------*/ 
@media (max-width: 1280px) {
    main {
        grid-template-columns: 1fr;
    }

    .contenedor {
        width: 75%;
        display: grid;
    }

    .filtros {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px;
    }

    .texto {
        width: 600px;
        padding: 0px 0px;  
    }
    .Titulo{
        margin-left: -10px;
    }
    .box{
        width: 600px;
        padding: 0px 0px;
    }
    .caja{
        padding: 10px 10px;
        width: 600px;
    }
    .caja div{
        display: flex;
        flex-direction: column;
        width: 580px;
        height: 165px;
    }
    .caja div p{

        width: 580px;
        height: 20px;
        padding: 0px 10px;
    }
    .caja div a{
        padding: 20px 10px;
        width: 580px;
    }
    .caja-filtro button {
        width: 190px;
    }

    .caja-filtro button a {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    main {
        margin: 0 auto;
        /* Centra el contenido */
    }
    .Titulo {
        margin-top: 15px;
    }
    
    .box {
        width: 606px;
    }
    
    .caja{
        width: 606px;
    }
    .hr {
        width: 60%;
        /* Ajuste del ancho del separador */
    }
    .item-boton {
        padding-left: 10px;
        font-size: 14px;
        /* Ajuste del texto en las opciones */
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
    }

    .contenedor {
        width: 70%;
        display: grid;
    }

    .filtros {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px;
    }

    .texto {
        align-content: center;
        justify-content: center;
        justify-items: center;
    }

    .caja-filtro button {
        width: 190px;
    }

    .caja-filtro button a {
        font-size: 14px;
    }
}

@media (max-width: 429px) {
    main {
        grid-template-columns: 1fr;
    }

    .contenedor {
        width: 70%;
        display: grid;
    }

    .filtros {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 8px;
    }

    .texto {
        width: 365px;
        padding-top: -100px;
        padding-bottom: 40px;
    }
    .Titulo{
        margin-top: 0px;
    }
    .box {
        width: 365px;
    } 
    .caja{
        font-size: 14px;
        width: 365px;
    }
    .caja div{
        width: 340px;
    }
    .caja div p{
        margin: 0px 0px;
        width: 340px;
        height: 100px;
    }
    .caja div a{
        display: flex;
        justify-content: center;
        width: 340px;
        height: 100px;
        padding: 0px 0px;
    }
    .caja div a img{
        width: 140px;
    }
    .caja-filtro button {
        width: 180px;
        padding: 6px 5px;
    }

    .caja-filtro button a {
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .texto {
        width: 365px;
    }
    .Titulo{
        margin-top: 0px;
    }
    .box {
        width: 362px;
    } 
    .caja{
        font-size: 15px;
        width: 362px;
    }
}