* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: #7df1a7;
    padding: 10px 40px;
}

.he1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.he1 .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.he1 .logo-img {
    height: 70px; /* Ajusta el tamaño de la imagen del logo según sea necesario */
}

.logo-text {
    font-size: 40px;
    font-style: italic;
    color: black;
    font-weight: bold;
}

.icons {
    display: flex;
    gap: 15px;
    
}

.icon img {
    height: 35px; 
    width: 35px;
    margin-right: 20px;
}
.icon .carrito{ 
    height: 39px; 
    width: 39px;
}
.icon .perfil{ 
    height: 38px; 
    width: 38px;
}
.he2{ 
    background-color: #b5f7cd;
    padding: 15px 200px;
    display: flex;
    justify-content: space-around;
}
.he2 .nav-link{ 
    text-decoration: none;
    font-size: 20px;
    text-decoration: none; 
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 5px 15px ;
    transition: all 1s ease;
}
.he2 .nav-link:hover{ 
    background-color: white;
    box-shadow: .5rem .5rem 1rem white, 
    -.5rem -.5rem 1rem white; 
}
main{ 
    grid-template-columns: repeat(1, auto);
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
}
.Titulos{ 
    text-align: center;
    margin-top: 50px;
}
.Titulos h4{ 
    margin-top: 20px;
}
.carrusel{
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
}
.Ofertas{ 
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
    margin-top: 15px;
}
.Ofertas h2{ 
    padding: 10px 0px;
} 
.contenedor{ 
    border: 2px solid black;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.caja{ 
    background-color: #7df1a7;
    padding: 20px 0px;
}
.caja img{ 
    width: 370px;
    height: 320px;
    border-radius: 70px;
    margin: 0px 15px;
}
.caja .espacio{ 
    background-color: #a6a6a6;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bolder;
}
.colaboraciones{ 
    background-color: #c0ffd7;
    text-align: center;
    width: 90%;
    margin-top: 0 auto;
    padding: 20px 0px;
}
.colaboraciones .area-marcas{ 
    background-color: #a6a6a6;
    display: flex;
    justify-content: space-around;
}

footer {
    grid-area: footer;
    background-color: #576d57;
    display: grid;
    grid-template-columns: repeat(5, auto);
    padding: 1% 0 1% 5%;
    color: white;
    
}
footer .logo {
    grid-template-rows: repeat(2,auto);
}
footer .logo-f{ 
    margin-left: 12px;
} 

footer .logo-img{ 
    height: 140px;
    filter: invert(1);
}
footer .titulo-div { 
    font-size: 20px;
    font-weight: bold;
    
}
.text-f .logo-text {
    font-size: 25px;
    font-style: italic;
    color: white;
    font-weight: bold;
    padding-top: 30px;
}
.varios {
    font-size: 18px;
    list-style-type: none;
}
.varios li  { 
    padding-top: 15px;
} 
.varios li a { 
    color: white;
}

.titulo-div {
    font-size: 20px;
    padding-left: 20px;
}

.varios  {
    padding-top: 10px;
}

.varios a {
    text-decoration: none;
    color: #343434;
    padding: 0px 5px;
}

.varios li a:hover {
    text-decoration: none;
    background-color: white;
    border-radius: 10px;
    color: black;
}

.varios .item{ 
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.item img{ 
    height: 25px;
    filter: invert(1);
} 
.item span a{
    color: white;
}
.item .ig{ 
    height: 30px;
}