
main {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 10px;
    margin: 100px 0px;
}
.contenedor {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.contenedor img {
    width: 700px;
    height: auto;
    border-radius: 10px;
}

.opc {
    text-align: center;
    max-width: 900px;
    background-color: #f9f9f9;
    border: 2px solid #98f5a9;
    width: 600px;
    padding: 10px 40px;
}

.opc h1{
    font-size: 30px;
}

.opc p {
    padding: 20px;
    color: black;
}
.link:hover{
    color:  #4BAA6E ;
}

.opc button {
    border: #ada7a7 1px solid;
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 9px;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.opc button:hover {
    background-color: #4BAA6E;
}

@media (max-width: 1280px) {
    .contenedor {
        display: flex;
        justify-content: center;
        gap: 100px;
        align-items: center;
        max-width: 1000px;
        width: 80%;
    }
    .contenedor img {
        width: 400px;
        height: auto;
        border-radius: 10px;
    }
    .opc {
        max-width: 900px;
        width: 300px;
        padding: 10px 40px;
    }
    .opc h1 {
        font-size: 28px;
    }
}
    

@media (max-width: 990px) {
    .contenedor {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        margin-left: 0;
    }
    .contenedor img {
        display: none;
    }
    .opc {
        text-align: center;
        max-width: 900px;
        background-color: #f9f9f9;
        border: 2px solid #98f5a9;
        width: 450px;
        padding: 10px 70px;
    }
    .opc h1 {
        font-size: 25px;
    }
    .opc button {
        font-size: 14px;
    }
}

/* Resolución: max-width 768px */
@media (max-width: 768px) {
    .contenedor img {
        width: 250px;
    }
    .opc h1 {
        font-size: 22px;
    }
    .opc button {
        padding: 8px;
    }
}

/* Resolución: max-width 428px */
@media (max-width: 428px) {
    main {
        padding: 5px;
    }
    .contenedor img {
        width: 200px;
    }
    .opc {
        max-width: 300px;
    }
    .opc h1 {
        font-size: 20px;
    }
    .opc p {
        font-size: 14px;
    }
    .opc button {
        font-size: 12px;
        padding: 6px;
    }
}

/* Resolución: max-width 360px */
@media (max-width: 360px) {
    .contenedor img {
        width: 180px;
    }
    .opc h1 {
        font-size: 18px;
    }
    .opc p {
        font-size: 12px;
    }
    .opc button {
        font-size: 10px;
        padding: 5px;
    }
}
