main{ 
    grid-template-columns: repeat(1, auto);
    margin: 0 auto;
}
.Titulos{ 
    text-align: center;
    margin-top: 50px;
}
.Titulos h1{ 
    font-size: 40px;
    font-weight: bold;
}
.Titulos p{ 
    margin-top: 20px;
    font-size: 25px;
}
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 30px auto;
    margin-top: 1%;
    margin-bottom: 2%;
    width: 62%;
}

.Ofertas{ 
    width: 90%;
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 10px;
}
.Ofertas h2{ 
    padding: 0px 10px;
    animation-name: movimiento;
    animation-duration: 8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    font-size: 35px;
    font-weight: bold;
    max-width: 800px;
} 
@keyframes movimiento{
    from{ 
        margin-left: 65%;
    }
    to{ 
        margin-left: 7%;
    }
}
.contenedor{ 
    width: 95%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    max-width: 1500px;
   
}
.caja{ 
    background-color: white;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    border: 3px solid #7df1a7;
    
}
.caja img{ 
    height: 300px;
    width: 300px;
    margin: 20px 20px;
    border-radius: 70px;
    border: 3px solid #7df1a7;
}
.caja .espacio{ 
    background-color:  #7df1a7;
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    color: white;
    font-weight: bold;
    padding: 10px 10px;
    height: auto;
}
.caja .nada{ 
    background-color:white; 
    height: 20px;

}
.cont-CLB{
    text-align: center;
}
.colabo{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.colabo h3 { 
    padding: 10px 0px ;
    font-size: 28px;
    word-spacing: 10px;
    font-weight: bold;
} 
.colaboraciones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

.area-marcas {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 20px;
}

/* Estilos de cada círculo */
.marca-A, .marca-V, .marca-P, .marca-F, .marca-M {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    border: 1px solid gray;
    cursor: pointer;
}

.marca-A img, .marca-V img, .marca-P img, .marca-F img, .marca-M img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

/* Efecto al pasar el mouse */
.marca-A:hover, .marca-V:hover, .marca-P:hover, .marca-F:hover, .marca-M:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* Texto emergente */
.marca-A::before, .marca-V::before, .marca-P::before, .marca-F::before, .marca-M::before {
    content: ""; /* El contenido se asignará según la clase */
    position: absolute;
    bottom: -50px; /* Comienza fuera del círculo */
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 8px 12px;
    border-radius: 8px;
    opacity: 0; /* Invisible al inicio */
    transition: bottom 0.3s ease, opacity 0.3s ease;
}

/* Especificar nombres para cada marca */
.marca-A:hover::before {
    content: "Artesco";
    bottom: 50%; /* Aparece en el centro */
    opacity: 1;
}

.marca-V:hover::before {
    content: "Vinifan";
    bottom: 50%;
    opacity: 1;
}

.marca-P:hover::before {
    content: "Pilot";
    bottom: 50%;
    opacity: 1;
}

.marca-F:hover::before {
    content: "Faber-Castell";
    bottom: 50%;
    opacity: 1;
}

.marca-M:hover::before {
    content: "Maestro";
    bottom: 50%;
    opacity: 1;
}
/*-------- RESPONSIVE ----------*/


@media (max-width: 1280px) {
    .Titulos h1{ 
        font-size: 70px;
        font-weight: bold;
    }
    .Titulos p{ 
        margin-top: 20px;
        margin: 0 40px;
        font-size: 35px;
    }
    .Ofertas h2{ 
        font-size: 40px;
        width: 150%;
    }
    @keyframes movimiento{
        from{ 
            margin-left: 42%;
        }
        to{ 
            margin-left: 0%;
        }
    }
    .contenedor{ 
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: 100%;
    }
    .caja img{ 
        height: 180px;
        width: 250px;
        margin: 10px 10px;
        border-radius: 50px;
    }
    .caja .espacio{ 
        background-color: #848484;
        margin-top: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 5px 0px;
        height: auto;
    } 
    .espacio p{ 
        font-size: 18px;
        padding: 0 3px;
        margin: 0  0 ;
    }
    .caja .nada{ 
        background-color: #7df1a7; 
        height: 20px;
    }
    .colaboraciones{ 
        width: 95%;
        margin: 30px auto;
        margin-top: 5px;
    }
    .colaboraciones .area-marcas{ 
        display: flex; 
        gap: 25px;
    } 
 
}

@media (max-width: 890px) {
    .Titulos h1{ 
        font-size: 50px;
        font-weight: bold;
    }
    .Titulos p{ 
        margin-top: 20px;
        margin: 0 40px;
        font-size: 25px;
    }
    .Ofertas h2{ 
        font-size: 30px;
        width: 150%;
    }
    @keyframes movimiento{
        from{ 
            margin-left: 42%;
        }
        to{ 
            margin-left: 0%;
        }
    }
    .contenedor{ 
        display: grid;
        grid-template-columns: repeat(2, 45%);
        width: 100%;
    }
    .caja img{ 
        height: 180px;
        width: 250px;
        margin: 10px 10px;
        border-radius: 50px;
    }
    .caja .espacio{ 
        background-color: #848484;
        margin-top: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 5px 0px;
        height: auto;
    } 
    .espacio p{ 
        font-size: 18px;
        padding: 0 3px;
        margin: 0  0 ;
    }
    .caja .nada{ 
        background-color: #7df1a7; 
        height: 20px;
    }
    .colaboraciones{ 
        width: 95%;
        margin: 30px auto;
        margin-top: 5px;
    }
    .colaboraciones .area-marcas{ 
        display: grid; 
        grid-template-columns: repeat(3, auto);
        grid-gap: 25px;
    } 
    .marca img { 
        width: 180px;
        grid-gap: 10px;
    }
}
@media(max-width: 570px){ 
    .Titulos{ 
        text-align: center;
        margin-top: 50px;
    }
    .Titulos h1{ 
        font-size: 30px;
        font-weight: bold;
    }
    .Titulos p{ 
        margin-top: 20px;
        font-size: 15px;
    }
    #puntos{ 
        margin-top: 0;
        padding-top: 0;
    }
    .Ofertas{ 
        width: 98%;
        margin-top: 0px;
    }
    .Ofertas h2{ 
        font-size: 18px;
        width: 150%;
    }
    @keyframes movimiento{
        from{ 
            margin-left: 32%;
        }
        to{ 
            margin-left: 0%;
        }
    }
    .contenedor{ 
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 100%;
    }
    .caja img{ 
        height: 110px;
        width: 140px;
        margin: 10px 10px;
        border-radius: 50px;
    }
    .caja .espacio{ 
        background-color: #848484;
        margin-top: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 5px 0px;
        height: auto;
    } 
    .espacio p{ 
        font-size: 12px;
        padding: 0 3px;
        margin: 0  0 ;
    }
    .caja .nada{ 
        background-color: #7df1a7; 
        height: 20px;
    }
    .colabo H3{ 
        font-size: 17px;
        font-weight: bold;
    }
    .colaboraciones{ 
        width: 95%;
        margin: 30px auto;
        margin-top: 5px;
    }
    .area-marcas{ 
        display: grid;
        grid-template-columns: repeat(1,auto);
        grid-gap: 15px;
    } 
    .marca-A, .marca-V, .marca-P, .marca-F, .marca-M {
        width: 100px;
        height: 100px;
    }   
    .marca-A::before, .marca-V::before, .marca-P::before, .marca-F::before, .marca-M::before { 
        font-size: 12   px;
    }    
  
}
@media (max-width: 360px) {
    .Titulos{
        text-align: center;
        margin-top: 50px;
    }
    .Titulos h1{ 
        font-size: 30px;
        font-weight: bold;
    }
    .Titulos p { 
        margin-top: 20px;
        font-size: 15px;
    }
    .carrusel{
        margin: 0 auto;
        width: 95%;
    }

    .atras img{ 
        width: 30px;
    }
    .adelante img{ 
        width: 30px;
    }
    .imagenes{ 
        padding: 0 0;
        margin: 0 10px;
    } 
    .imagenes .img { 
        margin: 0 0;
        padding: 0 0;
        width: 270px
    } 

    .Ofertas{ 
        width: 98%;
        margin-top: 0px;
    }
    .Ofertas h2{ 
        font-size: 18px;
        width: 150%;
    }
    @keyframes movimiento{
        from{ 
            margin-left: 32%;
        }
        to{ 
            margin-left: 0%;
        }
    }
    .contenedor{ 
        display: grid;
        grid-template-columns: repeat(2, auto);
        width: 100%;
    }
    .caja{ 
        width: 160px;
        border: 2px solid black;
    }
    .contenedor .caja img{ 
        height: 100px;
        width: 130px;
        margin: 5px 5px;
        border-radius: 50px;
        border: 2px solid black;
    }
    .caja .espacio{ 
        background-color: #848484;
        margin-top: 10px;
        text-align: center;
        color: white;
        font-weight: bold;
        padding: 5px 0px;
        height: auto;
    } 
    .espacio p{ 
        font-size: 12px;
        padding: 0 0;
        margin: 0  0 ;
    }
    .caja .nada{ 
        background-color: #7df1a7; 
        height: 20px;
    }
    .colabo H3{ 
        font-size: 15px;
        font-weight: bold;
    }
    .colaboraciones{ 
        width: 95%;
        margin: 30px auto;
        margin-top: 5px;
    }
    .colaboraciones .area-marcas{ 
        display: grid; 
        grid-gap: 15px;
    } 
    .marca img { 
        width: 180px;
        grid-gap: 10px;
    }  
} 



