
main{ 
    margin: 10px 10px;
}
.texto{
    padding: 0px 350px 0px 15px ;
}
.formulario2{
    border: 1px solid #4BAA6E;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 80px 10px;
    width: 150%;
    text-align: justify;
    margin-top: 30px;
}
.info{
    gap: 5%;
    display: grid;
    grid-template-columns: 40% 60%;
    padding-bottom: 5%;
    padding-left: 2%;
}
.boton{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 60px;
}
.botones {
    display: grid;
    margin: 0 auto;
    padding: 10px 0px;
    padding-top: 50px;
    grid-gap: 15px;
}

.botones button {
    border-radius: 50px;
    padding: 5px 70px;
    background-color: #4baa6e;
    color: white;
    font-size: 15px;
}

.botones button:hover {
    background-color: white;
    border: 3px solid #b5f7cd;
    color: black;
}
.msj input{
    margin-bottom: 5%;
    border: black solid 1px ;
    border-radius: 20px;
}
.msj .y{
    width: 85%;
}
.msj textarea{
    height: 40%;
    border: black solid 1px ;
    border-radius: 20px;
    margin-bottom: 80px;
}

.hr{
    width: 40%;
    border: 1px solid #4BAA6E;
    
}
/*-------- RESPONSIVE ----------*/

@media (max-width: 1280px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 100%;
        display: grid; 
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
    .formulario2{
        border: 1px solid #4BAA6E;
        margin-left: 50px;
    }
    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    main {
        margin: 0 auto; /* Centra el contenido */
    }
    .contenedor{ 
        width: 100%;
        display: grid; 
    }
    .Titulo {
        margin-top: 15px;
    }
    .box {
        padding: 10px;
        width: 95%;
    }
    .texto {
        padding: 0px;
        width: 400px;
        margin-right: 350px;
    }
    .formulario2{
        border: 1px solid #4BAA6E;
        margin-left: 70px;
    }
    .hr {
        width: 60%; /* Ajuste del ancho del separador */
    }
    .item-boton {
        padding-left: 10px;
        font-size: 14px; /* Ajuste del texto en las opciones */
    }
}

@media (max-width: 769px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
 
    .texto{ 
      padding: 0px;
        width: 400px;
        margin-right: 350px;
    }

    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 429px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 8px ;
    }
    .texto{ 
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 250px;
        margin-left: 210px;
    }
    .formulario2{
        border: 1px solid #4BAA6E;
        margin-left: 150px;
    }
    .info{
        display: grid;
        grid-template-columns: 50% 50%;
        font-size: 13px;
    }
    .msj{
        width: 180px;
    }
    .botones button{
        width: 150px;
        padding: 6px 0px;
    }
    .caja-filtro button a{ 
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        display: grid;
        padding: 0px 0px;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 3px ;
    }
    .texto{ 
        align-content: center;
        justify-content: center;
        justify-items: center;
        width: 234px;
        margin-left: 214px;
    }
    .info{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .msj{
        width:160px;
    }
}