main {
    padding: 10px 10px;
}

.contenedor {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 30px 0px;
    margin-bottom: 96px;
}

.productos {
    padding: 0px;
    width: 890px;
}

.caja {
    width: 87.5%;
    margin-left: 5%;
    margin-top: 0px;
}

.caja h2 {
    margin-bottom: 20px;
    color: #333;
}

.articulo {
    border: 2px solid #4BAA6E;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

.infoP {
    flex: 1;
}

.infoP h3 {
    margin-bottom: 5px;
    color: #333;
}

.info {
    display: flex;
    justify-content: space-between;
    color: #666;
    height: 25px;
}

.detalles {
    display: flex;
    align-items: center;
    gap: 10px;
}

.detalles .img {
    width: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.botones {
    display: grid;
    margin: 0 auto;
    padding: 10px 0px;
    padding-top: 50px;
    grid-gap: 15px;
}

.botones button {
    border-radius: 50px;
    padding: 5px 70px;
    background-color: #4baa6e;
    color: white;
    font-size: 15px;
}

.botones button:hover {
    background-color: white;
    border: 3px solid #b5f7cd;
    color: black;
}

/* Responsividad */

/* Resolución: 1280px */
@media (max-width: 1280px) {
    .productos {
        width: 80%;
    }
    .caja {
        width: 75%;
    }
    .img {
        width: 120px;
        height: 100px;
    }
    .botones button {
        padding: 5px 50px;
        font-size: 16px;
    }
}

/* Resolución: 990px */
@media (max-width: 990px) {
   
    .productos {
        width: 90%;
    }
    .caja {
        width: 100%;
    }
    
    .img {
        width: 150px;
        height: 120px;
    }
    .botones {
        grid-template-columns: 1fr 0.3fr;
    }
    .botones button {
        padding: 6px 60px;
        font-size: 14px;
    }
    
}

/* Resolución: 728px */
@media (max-width: 768px) {
    .productos {
        width: 90%;
    }
    .caja {
        width: 100%;
    }
    
    .img {
        width: 150px;
        height: 120px;
    }
    .botones {
        grid-template-columns: 1fr 0.1fr;
        
    }
    .botones button {
        padding: 6px 60px;
        font-size: 18px;
    }
}

/* Resolución: 428px */
@media (max-width: 428px) {
    .productos {
        padding: 5px;
    }
    .caja {
        width: 100%;
    }
    .detalles {
        flex-direction: column;
        align-items: center;
    }
    .img {
        width: 150px;
        height: 120px;
        margin-bottom: 5px;
    }
    .botones{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        align-items: center;
        justify-items: center;
        padding-top: 0%;
    }
    .botones button {
        font-size: 18px;
    }
    .infoP{
        margin-bottom: 0px;
    }
}

/* Resolución: 360px */
@media (max-width: 360px) {
    .productos {
        padding: 5px;
    }
    .caja {
        width: 100%;
    }
    .detalles {
        flex-direction: column;
        align-items: center;
    }
    .img {
        width: 150px;
        height: 120px;
        margin-bottom: 5px;
    }
    .botones{
        display: grid;
        grid-template-columns: auto;
        align-self: center;
        align-items: center;
        justify-items: center;
        padding-top: 0%;
    }
    .botones button {
        font-size: 18px;
    }
    .infoP{
        margin-bottom: 0px;
        padding-left: 10%;
    }
}

