main{ 
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{ 
    padding: 20px 10px ;
    padding-bottom: 60px;
    margin: 16px 0px 100px 0px;
}
.Titulo{ 
    margin-top: 10px;
    padding: 20px 0px;
}
.Titulo H3{ 
    font-size: 35px;
}
.box{ 
    border: 1px solid #4BAA6E;
    width: 700px;
    padding: 10px 0 0 0 ;
} 
.subox{
    width: 95% ;
    margin: 10px auto ;
    display: grid;   
}
.Texto{
    padding: 0px 0px;
    display: grid;
    align-content: center;
    justify-content: center;
} 
.cajita{ 
    display: flex;
    justify-content:center;
    align-items: start;
    justify-items: start;
    gap: 100px;
    width: 600px;
}
.cajita p { 
    width: 700px;
    font-size: 25px;
}
.marca{ 
    width: 400px;
}
input[type="checkbox"]{
    transform: scale(2.0); 
    margin: 10px; 
}
.marca label{ 
    font-size: 25px;
}
.botones{ 
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 10px 0px;
    gap: 50px;
}
.botones button{
    border-radius: 50px;
    padding: 5px 30px ;
    background-color: #4baa6e;
    color: white;
    font-size: 20px;
}
.botones .C{ 
    border-radius: 50px;
    padding: 5px 30px ;
    background-color: red;
    color: white;
    font-size: 20px;
}
.botones button:hover{ 
    background-color: white;
    border: 3px solid #b5f7cd ;
    color: black;
}
.botones .C:hover{ 
    background-color: white;
    border: 3px solid red ;
    color: black;
}
/*-------- RESPONSIVE ----------*/

@media (max-width: 1280px) {

}

@media (max-width: 992px) {

}

@media (max-width: 768px) {
   
}

@media (max-width: 428px) {
    .Titulo h3{ 
        font-size: 25px;
    }
    .box{ 
        width: 380px;
    }
    .Texto{
        padding: 0px 0px;
        display: grid;
        align-content: center;
    }
    .cajita{ 
        width: 300px;
        gap: 10px;
    }
    .cajita p { 
        font-size: 15px;
        width: 450px;
    }
    input[type="checkbox"]{
        transform: scale(1.0); 
        margin: 10px; 
    }
    .marca label{ 
        font-size: 15px;
    }
    .botones button{
        border-radius: 50px;
        padding: 5px 30px ;
        background-color: #4baa6e;
        color: white;
        font-size: 15px;
    }
    .botones .C{ 
        border-radius: 50px;
        padding: 5px 30px ;
        background-color: red;
        color: white;
        font-size: 15px;
    }
}

@media (max-width: 360px) {
    .Titulo H3 {
        font-size: 20px;
    }
    .palabras p {
        font-size: 14px;
    }
    .Texto .palabras {
        padding-left: 5px;
        padding-right: 5px;
    }
    .cuadros label {
        font-size: 18px;
    }
    .boton button, .botonC button {
        font-size: 12px;
        padding: 5px 10px;
    }
    .box{
        width: 330px;
    }
    .subox{
        width: 320px;
    }
}