main{ 
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{ 
    padding: 20px 10px ;
    padding-bottom: 60px;
}
.Titulo{ 
    margin-top: 10px;
    padding: 20px 0px;
}
.Titulo H3{ 
    font-size: 35px;
}
.box{ 
    border: 1px solid #4BAA6E;
    width: 800px;
    height: 1000px;
    height: auto;
} 
.subox{
    width: 95% ;
    margin: 10px auto ;
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);  
}
.Texto{
    padding: 0px 0px;
} 
.Texto .palabras{ 
    padding: 10px 10px;
    text-align: justify;
    padding-left: 80px;
}
.palabras p { 
    font-size: 25px;
}
.cheks .cuadros{ 
    padding: 10px 0px;
    padding-left: 50px;
    padding-bottom: 26px; 
}
.cuadros label { 
    font-size: 31px;
}
.boton , .botonC{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px ;
}
.boton button{
    border-radius: 50px;
    padding: 5px 40px ;
    background-color: #4baa6e;
    color: white;
    font-size: 20px;
}
.botonC button{ 
    border-radius: 50px;
    padding: 5px 40px ;
    background-color: red;
    color: white;
    font-size: 20px;
}
