main{ 
    margin: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor{ 
    padding: 20px 10px ;
    padding-bottom: 60px;
}
.Titulo{ 
    margin-top: 10px;
    padding: 20px 0px;
}
.Titulo H3{ 
    font-size: 35px;
}
.box{ 
    border: 1px solid #4BAA6E;
    width: 800px;
    height: 1000px;
    height: auto;
} 
.subox{
    width: 95% ;
    margin: 10px auto ;
    display: grid;
    grid-template-columns: repeat(2, 50% 50%);  
}
.Texto{
    padding: 0px 0px;
} 
.Texto .palabras{ 
    padding: 10px 10px;
    text-align: justify;
    padding-left: 80px;
}
.palabras p { 
    font-size: 25px;
    width: 120%;
}
.cheks .cuadros{ 
    padding: 10px 10px;
    padding-left: 50px;
    padding-bottom: 0px; 
}
.cuadros label { 
    font-size: 31px;
    height: 41px;
    margin-bottom: 15px;
    text-align: justify;
    padding-top: 0px;
}
.boton , .botonC{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px ;
}
.boton button{
    border-radius: 50px;
    padding: 5px 40px ;
    background-color: #4baa6e;
    color: white;
    font-size: 20px;
}
.botonC button{ 
    border-radius: 50px;
    padding: 5px 40px ;
    background-color: red;
    color: white;
    font-size: 20px;
}

/*-------- RESPONSIVE ----------*/

@media (max-width: 1280px) {
    .box {
        width: 90%;
    }
    .subox {
        width: 600px;
    }
    .boton, .botonC{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px ;
        width: 300px;
    }
    .palabras p {
        font-size: 22px;
    }
    .cuadros label {
        font-size: 28px;
    }
    .Texto .palabras {
        padding: 22px 10px;
        padding-left: 40px;
    }
    .cheks .cuadros{ 
        padding-left: 30px;
        height: 77%;
        width: 80%;
    }
}

@media (max-width: 992px) {
    .Titulo H3 {
        font-size: 30px;
    }
    .palabras p {
        font-size: 20px;
    }
    .Texto .palabras {
        padding-left: 20px;
        padding-right: 10px;
    }
    .box{
        width: 700px;
    }
    
    .cuadros label {
        font-size: 25px;
    }
    .boton button, .botonC button {
        font-size: 18px;
        padding: 5px 30px;
    }
}

@media (max-width: 768px) {
    .subox {
        gap: 15px;
    }
    .Titulo H3 {
        font-size: 25px;
    }
    .palabras p {
        font-size: 18px;
    }
    .Texto .palabras {
        padding-left: 15px;
        padding-right: 10px;
    }
    .box {
        width: 100%;
    }
    .boton button, .botonC button {
        font-size: 16px;
        padding: 5px 20px;
    }
}

@media (max-width: 576px) {
    .Titulo H3 {
        font-size: 22px;
        text-align: center;
    }
    .palabras p {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .Texto .palabras {
        padding-left: 10px;
        padding-right: 10px;
        height: 77%;
        width: 109%;
    }
    .cheks .cuadros{ 
        padding-left: 30px;
        height: 77%;
        width: 80%;
    }
    .cuadros label {  
        font-size: 22px;
    }
    .box{
        width: 350px;
    }
    .subox{
        width: 390px;
    }
    .boton button, .botonC button {
        font-size: 14px;
        padding: 5px 15px;
    }
    .boton, .botonC{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0px ;
        width: 140px;
    }
}

@media (max-width: 360px) {
    .Titulo H3 {
        font-size: 20px;
    }
    .palabras p {
        font-size: 14px;
    }
    .Texto .palabras {
        padding-left: 5px;
        padding-right: 5px;
    }
    .cuadros label {
        font-size: 18px;
    }
    .boton button, .botonC button {
        font-size: 12px;
        padding: 5px 10px;
    }
    .box{
        width: 330px;
    }
    .subox{
        width: 320px;
    }
}