main{
    padding: 10px 10px ;
}
.contenedor{ 
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    border: 2px solid black;
}
.productos{ 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}
.caja{
    
    padding: 10px 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
} 
.vacio { 
    background-color: #b5f7cd;
    height: 40px;
}
.icons-links{ 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 10px 10px;
    gap: 20px;
}
.icon{ 
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.txt{ 
    padding: 10px 5px;
}


/*-------- RESPONSIVE DESIGN ----------*/

@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
   
}

@media (max-width: 768px) {
   
}

@media (max-width: 576px) {
   
}

@media (max-width: 360px) {

}
