main{
    padding: 10px 10px ;
}
.contenedor{ 
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    margin: 30px 0px;
    margin-bottom: 96px;
}

.productos{ 
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 5px 5px ;
    justify-content: center;
    grid-gap: 40px;
   
}
.caja{
    padding: 10px 10px;
    margin-left: 30px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    width: 800px;
    
} 
.vacio { 
    background-color: #b5f7cd;
    padding: 10px 0px;
    padding-left: 20px;
}
.icons-links{ 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    align-content: center;
    padding: 0px 10px;
    padding-top: 20px;
    gap: 20px;
    border: 2px solid #b5f7cd ;
}
.icon{ 
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.cont{ 
    display: flex;
    border: 2px solid #b5f7cd ;
}
.texto{ 
    display: flex;
}
.img{ 
    margin: auto auto;
}
.img img{ 
    width: 150px ;
    height: 120px;
}
.product-espe{ 
    display: grid;  
    padding: 5px 30px; 
    margin: auto auto;
}
.botones{ 
 display: grid;
 margin: 0 auto;
 padding: 10px 0px;
 grid-gap: 15px;
}
.botones button{
    border-radius: 50px;
    padding: 5px 30px ;
    background-color: #4baa6e;
    color: white;
    font-size: 15px;
}
.botones button:hover{ 
    background-color: white;
    border: 3px solid #b5f7cd ;
    color: black;
}

/* Responsividad */

/* Resolución: 1280px */
@media (max-width: 1280px) {
    .productos {
        width: 70%;
    }
    .caja {
        width: 800px;
    }
    .img img {
        width: 150px;
        height: 120px;
    }
    .botones button {
        padding: 8px 35px;
        font-size: 16px;
    }
}
/* Resolución: 1280px */
@media (max-width: 1114px) {
    .productos {
        width: 80%;
    }
    .caja {
        width: 800px;
    }
    .img img {
        width: 150px;
        height: 120px;
    }
    .botones button {
        padding: 8px 35px;
        font-size: 16px;
    }
}

/* Resolución: 990px */
@media (max-width: 990px) {
    .contenedor{
        padding-right: 10%;
    }
    .productos {
        width: 100%;
        padding: 10px;
    }
    .caja {
        width: 100%;
    }
    .vacio {
        font-size: 14px;
    }
    .icons-links {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 20px;
    }
    .icon {
        width: 45%;
        text-align: center;
    }
    
    .img img {
        width: 120px;
        height: 100px;
    }
    .botones {
        grid-template-columns: 1fr;
    }
    .botones button {
        padding: 6px 30px;
        font-size: 18px;
    }
}

/* Resolución: 768px */
@media (max-width: 768px) {
    .contenedor{
        padding-right: 10%;
    }
    .productos {
        width: 100%;
        padding: 10px;
    }
    .caja {
        width: 105%;
    }
    .vacio {
        font-size: 14px;
    }
    .icons-links {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    }
    .icon {
        width: 45%;
        text-align: center;
    }
    
    .img img {
        width: 120px;
        height: 100px;
    }
    .botones {
        grid-template-columns: 1fr;
    }
    .botones button {
        padding: 6px 30px;
        font-size: 15px;
    }
}

/* Resolución: 428px */
@media (max-width: 428px) {
    .contenedor{
        padding-right: 10%;
    }
    .productos {
        padding: 5px;
    }
    .caja {
        width: 100%;
    }
    .vacio {
        font-size: 13px;
    }
    .icons-links {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    }
    .icon {
        width: 45%;
        text-align: center;
    }
    .cont {
        flex-direction: column;
    }
    .img img {
        width: 100px;
        height: 80px;
    }
    .botones button {
        padding: 4px 20px;
        font-size: 16px;
    }
}

/* Resolución: 360px */
@media (max-width: 360px) {
    .contenedor{
        padding-right: 15%;
    }
    .productos {
        padding: 0;
    }
    .caja {
        width: 100%;
    }
    .vacio {
        font-size: 12px;
    }
    .icons-links {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 15px;
    }
    .icon {
        width: 45%;
        text-align: center;
    }
    .cont {
        flex-direction: column;
    }
    .img img {
        width: 90px;
        height: 70px;
    }
    .botones button {
        padding: 3px 18px;
        font-size: 14px;
    }
}
