.contenedor{ 
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
}
/*-------------*/
.texto{
    width: 800px;
    padding: 0px 25px ; 
}
.Titulo{ 
    margin-top: 25px;
    width: 95%;
    max-width: 1200px;
}
.box{
    border: 1px solid #4BAA6E;
    border-radius: 5px;
    padding: 15px;
    width: 745px;
    text-align: justify;
    max-width: 1200px;
    margin: 15px 0;
}

.privacidad , .cookies{ 
    margin-bottom: 5px;
}

.hr{
    border: 1px solid #4BAA6E;
    width: 45%;

}
.imagen{
    width: 710px;
    display: flex;
    justify-content: center;
}
.imagen img{
    border: 2px solid #4BAA6E;
    border-radius: 5px;
    width: 300px;
}

/*-------- RESPONSIVE DESIGN ----------*/

@media (max-width: 1280px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
    .texto{ 
        padding: 0px 0px;
        width: 600px;
    }
    .box{
        width: 600px;
        
    }
    .imagen{
        width: 570px;
        display: flex;
        justify-content: center;
    }
    .imagen img{
        border: 2px solid #4BAA6E;
        border-radius: 5px;
        width: 300px;
    }
    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    main {
        margin: 0 auto; /* Centra el contenido */
    }
    .Titulo {
        margin-top: 15px;
    }
    .box {
        padding: 10px;
        width: 600px;
    }
    .texto {
        width: 600px;
    }
    .hr {
        width: 60%; /* Ajuste del ancho del separador */
    }
    .item-boton {
        padding-left: 10px;
        font-size: 14px; /* Ajuste del texto en las opciones */
    }
}
@media (max-width: 428px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 8px ;
    }
    .texto,
    .box {
        width: 360px;
    }
    .imagen{
        width: 340px;
        display: flex;
        justify-content: center;
    }
    .imagen img{
        border: 2px solid #4BAA6E;
        border-radius: 5px;
        width: 250px;
    }
    .caja-filtro button{
        width: 180px;
        padding: 6px 5px;
    }
    .caja-filtro button a{ 
        font-size: 12px;
    }
}
@media (max-width: 394px) {
    .texto,
    .box {
        width: 348px;
    }
    .imagen{
        width: 328px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 361px) {
    .texto,
    .box {
        width: 346px;
    }
    .imagen{
        width: 325px;
        display: flex;
        justify-content: center;
    }
}