
main{ 
    margin: 10px 10px;
}

/*-------------*/
.texto{
    padding: 0px 30px ; 
}
.Titulo{ 
    margin-top: 25px;
    width: 95%;
    max-width: 1200px;
}
.box{
    border: 1px solid #4BAA6E;
    border-radius: 5px;
    padding: 15px;
    width: 80%;
    text-align: justify;
    max-width: 1200px;
    margin: 15px 0;
}

.privacidad , .cookies{ 
    margin-bottom: 5px;
}

.hr{
    border: 1px solid #4BAA6E;
    width: 45%;

}

/*-------- RESPONSIVE DESIGN ----------*/

@media (max-width: 1280px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
    .texto{ 
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    main {
        margin: 0 auto; /* Centra el contenido */
    }
    .Titulo {
        margin-top: 15px;
    }
    .box {
        padding: 10px;
        width: 95%;
    }
    .texto {
        padding: 5px;
    }
    .hr {
        width: 60%; /* Ajuste del ancho del separador */
    }
    .item-boton {
        padding-left: 10px;
        font-size: 14px; /* Ajuste del texto en las opciones */
    }
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px ;
    }
    .texto{ 
        align-content: center;
        justify-content: center;
        justify-items: center;
    }

    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
}

@media (max-width: 428px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros{ 
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 8px ;
    }
    .texto{ 
        align-content: center;
        justify-content: center;
        justify-items: center;
    }
  
    .caja-filtro button{
        width: 180px;
        padding: 6px 5px;
    }
    .caja-filtro button a{ 
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .contenedor{ 
        display: grid;
        padding: 0px 0px;
    }
}
