.contenedor{ 
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
/*-------------*/
.texto{
    width: 800px;
    padding: 0px 25px ;
    padding-bottom: 25px;
}
.Titulo{ 
    margin-top: 25px;
    width: 95%;
    max-width: 1200px;
}
.box{
    border: 1px solid #4BAA6E;
    border-radius: 5px;
    padding: 15px;
    text-align: justify;
    max-width: 1200px;
    margin: 15px 0;
}


hr{
    border: 1px solid #4BAA6E;
    width: 45%;

}

/* Preguntas frecuentes*/
.preguntas{
    border-bottom: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    max-width: 1200px;
}
.respuesta {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    height: 0;
    overflow: hidden;
}

.respuesta.mostrar {
    visibility: visible;
    opacity: 1;
    height: auto;
}

.preg {
    max-width: 1200px;
}
.imagen{
    width: 718px;
    display: flex;
    justify-content: center;
}
.imagen img{
    border: 2px solid #4BAA6E;
    border-radius: 5px;
    width: 300px;
}
/*-------- RESPONSIVE DESIGN ----------*/

@media (max-width: 1280px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor{ 
        width: 70%;
        display: grid;
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px;
    }
    .texto { 
        width: 720px;
        padding: 0px 0px;
    }
    .Titulo {
        margin-top: 20px;
    }
    .box {
        padding: 10px;
        width: 720px;
        max-width: 1000px;
    }
    hr {
        width: 60%; 
    }
    .imagen{
        width: 699px;
    }
    .imagen img{
        width: 300px;
    }
}

@media (max-width: 992px) {
    main {
        margin: 0 auto; /* Centra el contenido */
    }
    .contenedor {
        width: 90%;
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px;
    }
    .Titulo {
        margin-top: 15px;
        font-size: 18px;
    }
    .box {
        width: 720px;
    }
    hr {
        width: 70%; 
    }
    .texto {
        width: 720px;
    }
}

@media (max-width: 769px) {
    main {
        grid-template-columns: 1fr; 
    }
    .contenedor {
        width: 70%;
        display: grid;
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
        margin: 10px auto;
        grid-gap: 20px;
    }
    .caja-filtro button{
        width: 190px;
    }
    .caja-filtro button a{ 
        font-size: 14px;
    }
    .texto { 
        width: 600px;
    }
    .Titulo {
        margin-top: 10px;
        font-size: 16px;
    }
    .box {
        width: 600px;
    }
    hr {
        width: 80%;
    }
}

@media (max-width: 429px) {
    .contenedor {
        width: 70%;
        display: grid;
    }
    .filtros { 
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        margin: 10px auto;
        grid-gap: 8px;
    }
    .texto { 
        width: 360px;
    }
    .Titulo {
        font-size: 16px;
        margin-top: 10px;
    }
    .box {
        width: 360px;
    }
    .preg{
        font-size: 19px;
    }
    .respuesta{
        font-size: 16px;
    }
    hr {
        width: 90%;
    }
    .imagen{
        width: 338px;
    }
    .imagen img{
        width: 200px;
    }
    .caja-filtro button{
        width: 180px;
        padding: 6px 5px;
    }
    .caja-filtro button a{ 
        font-size: 12px;
    }
}

@media (max-width: 361px) {
    .contenedor {
        display: grid;
        padding: 0px;
        width: 100%;
    }
    .Titulo {
        font-size: 14px;
        margin-top: 5px;
    }
    .box {
        padding: 6px;
        margin: 10px 0;
    }
    hr {
        width: 100%;
    }
    .imagen{
        width: 347px;
    }
    .imagen img{
        width: 200px;
    }
}