
main {
    padding: 20px 20px;
    height: 558px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.contenedor{ 
    max-width: 1600px;
}
main h2 {
    font-weight: bold;
    font-size: 30px;
}

.social-media-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-media-item {  
    text-align: center;
}

.social-media-item img {
    width: 500px;
    height: 350px;
    border-radius: 10px;
    object-fit: cover;
}

.social-media-item a {
    font-weight: bold;
    margin-top: 10px;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.social-media-item a :hover{ 
    color: #7df1a7 ;
}

/*-------- RESPONSIVE ----------*/

@media (max-width: 1280px) {
    
    main {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .social-media-item img {
        width: 400px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
    }
  
}

@media (max-width: 992px) {
    main {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 700px;
    }
    .social-media-item img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    main {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 700px;
    }
    .social-media-item img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
    }
}

@media (max-width: 428px) {
    main {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 800px;
    }
    main h2 {
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 20px;
    }
    .social-media-links{ 
        display: grid;
        gap: 10px;
    }
    .social-media-item img {
        width: 300px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }
    .social-media-item a {
        font-weight: bold;
        margin-top: 10px;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
}

@media (max-width: 360px) {
    main {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 800px;
    }
    main h2 {
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 20px;
    }
    .social-media-links{ 
        display: grid;
        gap: 10px;
    }
    .social-media-item img {
        width: 300px;
        height: 150px;
        border-radius: 10px;
        object-fit: cover;
    }
    .social-media-item a {
        font-weight: bold;
        margin-top: 10px;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }
}
